.header {
  background: url("../assets/headerIMG.jpg") no-repeat;
  height: 767px;
  background-size: 100%;
}
.header .ellipse {
  height: 60%;
  margin-top: 77px;
  background: #EBDCB2;
  border-radius: 0 0 100% 0;
  color: #662E1C;
}
.header .ellipse .firstInfo {
  margin-left: 14%;
}
.header .ellipse .buyNow {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  background: #FF922D;
  border: none;
  font-size: 36px;
  font-weight: bold;
  color: #EBDCB2;
  margin: 30px 0 125px 0;
  padding-bottom: 10px;
  line-height: 0.81;
}
.header .ellipse .woof {
  margin-top: 75px;
  font-weight: bold;
  font-size: 64px;
}
.header .ellipse .motto {
  margin-top: 15px;
  font-size: 48px;
}
.ourPartners {
  background: #662E1C;
}
.ourPartners .headerOfPartner {
  margin: 70px 0 45px 0;
  text-align: center;
  font-size: 64px;
  font-weight: bold;
  color: #FF922D;
}
.ourPartners .logos {
  margin-bottom: 90px;
}
.ourPartners .logos .partner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ourPartners .logos .partner img {
  object-fit: fill;
}
.backGr {
  background-image: linear-gradient(rgba(102, 46, 28, 0.6), rgba(102, 46, 28, 0.6)), url('../assets/backgr.png');
  background-position: center;
  background-size: contain;
}
.backGr .aboutUs {
  padding: 143px 0 100px 0;
}
.backGr .aboutUs .blocks {
  display: flex;
  width: 773px;
  flex-direction: column;
  background-color: #EBDCB2;
  border-radius: 65px;
  margin-left: -20%;
  z-index: 0;
  text-align: right;
  padding-right: 79px;
}
.backGr .aboutUs .blocks p {
  color: #662E1C;
}
.backGr .aboutUs .blocks .textPart {
  padding-top: 120px;
}
.backGr .aboutUs .blocks .textPart .headerOfArticle {
  font-weight: bold;
  font-size: 36px;
}
.backGr .aboutUs .blocks .textPart .article {
  padding-top: 21px;
  font-size: 24px;
}
.backGr .aboutUs .blocks .awards {
  padding: 55px 0 120px 297px;
}
.backGr .aboutUs .blocks .awards p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.backGr .aboutUs .blocks .awards .paw {
  width: 114px;
  height: 107px;
  background-color: #AF4425;
  -webkit-mask: url("../assets/icons/paw.svg") no-repeat center;
  mask: url("../assets/icons/paw.svg") no-repeat center;
}
.backGr .aboutUs .photoForBlock {
  margin: 45px 0 60px -11%;
  height: 585px;
  width: 64%;
  display: flex;
  border-radius: 20%;
  z-index: 1;
}
.backGr .ourGoods {
  margin-bottom: 169px;
}
.backGr .ourGoods .blocks {
  display: flex;
  width: 773px;
  flex-direction: column;
  background-color: #EBDCB2;
  border-radius: 65px;
  margin-right: -30%;
  z-index: 0;
  text-align: left;
  padding-left: 79px;
}
.backGr .ourGoods p {
  color: #662E1C;
}
.backGr .ourGoods .textPart {
  padding-top: 120px;
}
.backGr .ourGoods .textPart .headerOfArticle {
  font-weight: bold;
  font-size: 36px;
}
.backGr .ourGoods .textPart .article {
  padding-top: 21px;
  font-size: 24px;
}
.backGr .ourGoods .awards {
  padding: 55px 0 120px 0;
}
.backGr .ourGoods .awards p {
  font-size: 24px;
  font-weight: bold;
  text-align: start;
  margin-left: 18%;
}
.backGr .ourGoods .awards .dog {
  width: 114px;
  height: 107px;
  background-color: #AF4425;
  -webkit-mask: url("../assets/icons/dog.svg") no-repeat center;
  mask: url("../assets/icons/dog.svg") no-repeat center;
}
.backGr .ourGoods .awards .mirror p {
  margin-left: 30%;
}
.backGr .ourGoods .awards .mirror .dog {
  transform: scale(-1, 1);
}
.backGr .ourGoods .photoForBlock {
  margin: 40px -20% 45px 0;
  height: 585px;
  width: 80%;
  display: flex;
  padding-left: 15%;
  border-radius: 28%;
  z-index: 1;
}
.backGr .weAreSelling {
  background: #EBDCB2;
  border-radius: 115px;
  margin-top: 173px;
  margin-bottom: 152px;
}
.backGr .weAreSelling .goods .ourGoodsBtn {
  background: #FF922D;
  color: #EBDCB2;
  height: 100px;
  width: 100%;
  border-radius: 50px;
  border: none;
  margin: 80px 0 120px 0;
  font-size: 36px;
  font-weight: bold;
}
.backGr .weAreSelling .goods .headerOfGoods {
  margin: 120px 0 60px 0;
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  color: #662E1C;
}
.backGr .weAreSelling .goods .line {
  margin-top: 40px;
}
.backGr .weAreSelling .goods .line img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.backGr .weAreSelling .goods .line .nameOfGood {
  text-align: center;
  color: #662E1C;
  margin-top: 25px;
  font-size: 48px;
}
.backGr .weAreSelling .goods .line .photo {
  border-radius: 85px;
}
/*# sourceMappingURL=style.css.map */